In [2]:
#Import Dependencies
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Path to CSV files
us_gdp_csv = Path("resources/us_gdp.csv")
avg_amount_financed_csv = Path("resources/avg_amount_financed.csv")
avg_rate_csv = Path("resources/avg_finance_rate.csv")
delinquency_rate_csv = Path("resources/delinquency_rate.csv")

In [4]:
# Read in files.
us_gdp_df = pd.read_csv(us_gdp_csv)
avg_amount_financed = pd.read_csv(avg_amount_financed_csv)
avg_rate_df = pd.read_csv(avg_rate_csv)
delinquency_rate_df = pd.read_csv(delinquency_rate_csv)

In [5]:
# Merge into one dataframe
merged_df = us_gdp_df.merge(avg_amount_financed, on="DATE", how="outer") \
                     .merge(avg_rate_df, on="DATE", how="outer") \
                     .merge(delinquency_rate_df, on="DATE", how="outer")

In [6]:
# Rename columns
merged_df.columns = ["Date", "US_GDP", "Avg_Amount_Financed", "Avg_Finance_Rate", "Delinquency_Rate"]



# Option to Convert 'Date' Dtype from object to datetime64[ns]
# merged_df['Date'] = pd.to_datetime(merged_df['Date'], errors='coerce')




merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456 entries, 0 to 455
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 456 non-null    object
 1   US_GDP               311 non-null    float64
 2   Avg_Amount_Financed  196 non-null    object
 3   Avg_Finance_Rate     217 non-null    object
 4   Delinquency_Rate     150 non-null    float64
dtypes: float64(2), object(3)
memory usage: 17.9+ KB

In [7]:
row_with_date = merged_df[merged_df['Date'] == '2010-01-01']
index_of_row = row_with_date.index.tolist()
print(f" All rows before {index_of_row} don't have complete information and can be deleted")

 All rows before [280] don't have complete information and can be deleted

In [8]:
cleaned_df = merged_df.iloc[280:]
cleaned_df.reset_index(drop=True, inplace=True)
cleaned_df

,Date,US_GDP,Avg_Amount_Financed,Avg_Finance_Rate,Delinquency_Rate
0,2010-01-01,14764.610,.,.,4.72
1,2010-02-01,NaN,.,6.45,NaN
2,2010-03-01,NaN,25962.78,.,NaN
3,2010-04-01,14980.193,.,.,4.25
4,2010-05-01,NaN,.,6.38,NaN
...,...,...,...,...,...
171,2024-04-01,29016.714,.,.,2.74
172,2024-05-01,NaN,.,8.2,NaN
173,2024-06-01,NaN,39266.13,.,NaN
174,2024-07-01,29349.924,NaN,.,NaN
175,2024-08-01,NaN,NaN,8.4,NaN