In [22]:
#Import Dependencies
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt

In [23]:
# Path to CSV files
quartlerly = Path("resources/Quarterly_End_of_Period.csv")
quarterly_eop = Path("resources/Quarterly.csv")

In [24]:
# Read in files.
quarterly_df = pd.read_csv(quartlerly)
quarterly_eop_df = pd.read_csv(quarterly_eop)

In [25]:
# Rename columns and drop rows that are incomplete
quarterly_df.columns = ['Date', 'Delinquency Rate (% chg)']
quarterly_df.drop(53, inplace=True)

# Rename columns and drop rows that are incomplete
quarterly_eop_df.columns = ['Date', 'GDP (% chg)', 'Finance Rate (% chg)', 'Avg Amount Financed (% chg)']
quarterly_eop_df.drop([53, 54], inplace=True)

In [27]:
# Merge df's
auto_df = pd.merge(quarterly_df, quarterly_eop_df, on='Date', how='inner')
# Reorder columns in auto_df
auto_df = auto_df[['Date', 'GDP (% chg)', 'Finance Rate (% chg)', 'Avg Amount Financed (% chg)', 'Delinquency Rate (% chg)']]

auto_df

,Date,GDP (% chg),Finance Rate (% chg),Avg Amount Financed (% chg),Delinquency Rate (% chg)
0,2011-01-01,0.27417,0.82645,-0.71064,-5.50964
1,2011-04-01,1.34249,-4.42623,-1.45214,-4.66472
2,2011-07-01,0.57940,-3.60206,1.91395,-4.28135
3,2011-10-01,1.24350,-6.58363,1.19661,-1.91693
4,2012-01-01,1.43001,-4.38095,-0.24407,-4.56026
5,2012-04-01,0.86074,-2.98805,-1.67914,-3.07167
6,2012-07-01,0.69368,-2.46407,0.33344,-2.11268
7,2012-10-01,0.61814,-2.31579,3.01379,-5.39568
8,2013-01-01,1.38711,-0.86207,-0.90439,-2.66160
9,2013-04-01,0.48352,-5.65217,-0.83767,-3.12500
10,2013-07-01,1.34590,0.92166,-0.01811,-3.22581
11,2013-10-01,1.40488,3.19635,2.20997,-1.25000
12,2014-01-01,0.03327,-3.31858,0.90890,-2.10970
13,2014-04-01,1.86519,2.05950,-1.32501,-2.15517
14,2014-07-01,1.63096,-7.84753,2.05384,-3.08370
15,2014-10-01,0.60576,-0.97324,1.45871,-5.00000
16,2015-01-01,0.84552,4.91400,1.93255,-3.82775
17,2015-04-01,1.19719,-1.40515,-1.24701,-1.49254
18,2015-07-01,0.66654,0.95012,2.84168,1.01010
19,2015-10-01,0.18211,-4.70588,1.04179,0.50000
20,2016-01-01,0.49252,1.48148,0.54995,-0.49751
21,2016-04-01,1.00275,0.97324,-0.04769,2.50000
22,2016-07-01,0.96697,2.40964,1.92223,1.46341
23,2016-10-01,1.04136,-4.70588,2.79500,3.36538
24,2017-01-01,0.99901,3.95062,-1.13579,1.39535
25,2017-04-01,0.82240,0.71259,-1.93720,1.83486
26,2017-07-01,1.30643,2.83019,2.04505,2.25225
27,2017-10-01,1.74935,3.44037,3.91446,-1.76211
28,2018-01-01,1.45463,5.32151,0.58333,1.79372
29,2018-04-01,1.24140,5.05263,-2.18715,-0.44053
30,2018-07-01,1.05835,-0.60120,0.38943,1.76991
31,2018-10-01,0.57281,8.06452,1.91322,0.43478
32,2019-01-01,0.92616,-2.23881,1.21891,0.86580
33,2019-04-01,1.35631,2.29008,0.98874,1.28755
34,2019-07-01,1.49189,-1.67910,1.10187,-0.84746
35,2019-10-01,0.99482,1.89753,0.56508,-1.28205
36,2020-01-01,-0.93721,-4.09683,3.25570,7.35931
37,2020-04-01,-8.24853,-0.19417,12.07361,-18.95161
38,2020-07-01,8.77386,-3.11284,-5.49324,-9.45274
39,2020-10-01,1.77184,-3.61446,-2.66019,5.49451
40,2021-01-01,2.66452,3.33333,1.39047,-11.97917
41,2021-04-01,3.14285,1.81452,-0.85482,-8.87574
42,2021-07-01,2.36695,-8.91089,4.03642,-1.29870
43,2021-10-01,3.57431,1.52174,7.18988,0.65789
44,2022-01-01,1.76959,-3.21199,0.45110,7.84314
45,2022-04-01,2.34102,7.30088,0.13974,9.69697
46,2022-07-01,1.80665,13.40206,5.54935,6.07735
47,2022-10-01,1.75954,19.09091,-1.86439,7.29167
48,2023-01-01,1.60873,14.19847,-0.86447,8.25243
49,2023-04-01,1.06557,4.41176,-0.96543,6.72646
50,2023-07-01,1.87181,0.89629,-0.26279,5.88235
51,2023-10-01,1.17732,3.42640,-0.17690,3.17460
52,2024-01-01,1.15596,0.85890,0.73908,3.07692